.pokemon-card {
    display: grid;
    width: 18vw;
    height: 25vw;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    grid-template-rows: 4fr 1fr;

}

.pokemon-card img {
    grid-row: 1 / 2;
    height: 100%;
    width: auto;
    max-width: 100%;
    display: block;
    place-self: center;
    margin: 0 auto;

}

.pokemon-title {
    grid-row: 2 / 3;
    background: rgba(240, 240, 240, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
}

.score {
    text-align: left;
    padding-right: 40px; /* Consider if you really need this much padding-right */
    opacity: 1;
    background-color: #2626ab;
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px #424242,0 -5px 15px #424242;
    font-size: 24px;
    margin-left: 40px;
    padding-top: 15px; /* Use specific padding-top */
    padding-bottom: 15px; /* Use specific padding-bottom */
    padding-left: 15px; /* Adjust padding-left as needed */
    flex-shrink: 0;
    display: inline-flex; /* This will make the container as tall as its content */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-self: flex-start; /* Align items to the start of the flex container */
}

@media (max-width: 900px) {
    .pokemon-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pokemon-card {
        display: grid;
        width: 40vw;
        height: 40vw;
        overflow: hidden;
        position: relative;
        border: 1px solid #ccc;
        text-align: center;
        margin: 10px;
        padding: 15px;
        cursor: pointer;
        grid-template-rows: 4fr 1fr;

    }
}