/* Modal */
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 100;


}

.modal-content {
    max-width: 800px;
    width: 90%;
    position: relative;
    background-image: url('src/assets/pikachu-lose.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 0 5px 20px #113661;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Stacks children vertically */
    gap: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    /* Makes it circular */
    padding: 5px;
}

.lose-button {
    background-color: red;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 30px;
    border: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
}

.restart-button {
    align-self: center;
    /* Center it horizontally */
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.8em;
    cursor: pointer;
}