body {}

.App {
    width: auto;
    max-width: 1500px;
    margin: auto;
    display: flex;
    /* Header, content, footer layout */
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.app-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 300px;

}

.logo img {
    max-width: 300px;

}